---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.js';
// import Mdz from "../components/Mdz.mdz"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!-- <Hello msg="Hello Ssr"/> -->
<Hello client:load/>
<!-- <div style="width: 400px; border: 2px darkblue solid">
<Mdz client:load/>
</div> -->
